/* ==========================================================================
   Exercise 1
   ========================================================================== */

.box {
  width: 200px;
  height: 200px;
  opacity: 0;
  margin-bottom: 1rem;

  &.orange {
    background-color: orange;
  }
  &.green {
    background-color: green;
  }
}







/* Animations
   ========================================================================== */

.fade-in-box-ani {
  animation: fadeIn .3s forwards;

  &-remove {
    animation: fadeOut .3s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0,0) scale(2) rotate(0);
  }
  to {
    opacity: 1;
    transform: translate(0,0) scale(1) rotate(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0,0) scale(1) rotate(0);
  }
  to {
    opacity: 0;
    transform: translate(150px,0) scale(.5) rotate(90deg);
  }
}