/* ==========================================================================
   Exercise 2
   ========================================================================== */

.phone-container {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  user-select: none;
}

.autobot {
  position: relative;
  padding-top: 2rem;
  height: 200px;
  background: #4eb5e7 url('../img/iphone-status-bar-white.png') no-repeat;
  background-size: 100%;
  text-align: center;
  color: white;
  overflow: hidden;

  .slide-01 {
    position: absolute;
    width: 100%;
    transform: translate(0,0);
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,1,1,1);
    opacity: 1;

    img {
      border: 5px solid rgba(0,0,0,.05);
      background-size: 100%;
      border-radius: 50%;
    }

    h2, h4 {
      margin: 0;
      font-weight: 400;
    }

    h4 {
      color: rgba(255,255,255,.7);
    }

    &.swiped {
      transform: translate(-100%,0);
      opacity: .4;
    }
  }

  .slide-02 {
    position: absolute;
    width: 100%;
    transform: translate(0,0);
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,1,1,1);
    opacity: 1;

    .quote {
      margin-top: .5rem;
      font-weight: 400;
    }

    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        display: inline-block;
        border-right: 1px solid rgba(255,255,255,.3);
        text-align: center;

        &:last-child {
          border-right: none;
        }

        p {
          margin: 0;
          font-weight: 400;
          color: rgba(255,255,255,.7);
        }

        h2 {
          margin: 0;
        }
      }
    }

    &.swiped {
      transform: translate(100%,0);
      opacity: .4;
    }
  }

  .page-indicators {
    position: absolute;
    bottom: 6px;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;

    li {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin: 0 .125rem;
      opacity: 1;
      background: white;
      border-radius: 50%;

      &.off {
        opacity: .4;
      }
    }
  }
}

