<section class="container">

  <article>
    <h1>ng-show &amp; ng-hide</h1>
    <p>Display a modal with style <big>☺</big></p>
  </article>

  <article style="height: 350px;">

    <!-- Feedback modal -->
    <div class="modal" ng-show="isModal">
      <a href title="" class="link-close" ng-click="closeForm()">Close</a>
      <h2>Feedback</h2>
      <p>Do you have any feedback for us?</p>
      <textarea placeholder="Please tell us what you think..." ng-model="feedback"></textarea>
      <button ng-click="submitForm()">Submit</button>
    </div>

    <!-- Overlay -->
    <div class="overlay" ng-show="isModal"></div>



    <button ng-click="openForm()">show feedback modal</button>

    <div class="feedback-done" ng-show="isSubmit">
      <h1 ng-show="feedback.length > 0">Sweet! Thanks so much.</h1>
      <h3 ng-show="feedback.length > 0">Here's what you wrote:</h3>
      <h2 ng-show="feedback.length == null || feedback.length == 0">Wha... no love?</h2>
      <p>{{feedback}}</p>
    </div>

  </article>

</section>